In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Water_data.csv")

In [2]:
print("="*60)
print("DATASET INFORMATION")
print("="*60)

============================================================
DATASET INFORMATION
============================================================

In [3]:
print(f"\nDataset shape: {df.shape}")
print(f"Total rows: {len(df)}")

print("\nColumn names and types:")
print(df.dtypes)

print("\n" + "="*60)
print("CATEGORY ANALYSIS")
print("="*60)

if 'category' in df.columns:
    print("\nUnique categories in your dataset:")
    categories = df['category'].unique()
    for cat in categories:
        print(f"  - {cat}")
    
    print("\nCategory distribution:")
    print(df['category'].value_counts())
    
    print("\n" + "="*60)
    print("SAMPLE DATA FOR EACH CATEGORY")
    print("="*60)
    
    for cat in categories:
        print(f"\n{cat} - Sample data:")
        print(df[df['category'] == cat].head(3))
        
else:
    print("\n⚠️ No 'category' column found!")

print("\n" + "="*60)
print("FIRST 10 ROWS OF DATASET")
print("="*60)
print(df.head(10))

Dataset shape: (400, 6)
Total rows: 400

Column names and types:
flow           float64
temperature    float64
turbidity      float64
tds            float64
ph             float64
category        object
dtype: object

============================================================
CATEGORY ANALYSIS
============================================================

Unique categories in your dataset:
  - Industrial
  - Agricultural
  - Home

Category distribution:
category
Agricultural    140
Industrial      130
Home            130
Name: count, dtype: int64

============================================================
SAMPLE DATA FOR EACH CATEGORY
============================================================

Industrial - Sample data:
         flow  temperature   turbidity          tds        ph    category
0  112.435617    33.348220  142.251084  5962.020568  5.985327  Industrial
1  193.100003    29.442156  198.508078  3650.470708  5.452227  Industrial
2  162.479152    27.397307   71.012602  3488.072343  6.924786  Industrial

Agricultural - Sample data:
          flow  temperature  turbidity         tds        ph      category
130  26.084420    18.067028  19.754925  944.462181  6.852363  Agricultural
131  57.597458    26.724597  68.445117  850.411627  6.902774  Agricultural
132  61.078878    25.117774  78.908153  563.139784  6.327248  Agricultural

Home - Sample data:
          flow  temperature  turbidity         tds        ph category
270  26.143913    26.356684   8.800791  422.392053  8.135571     Home
271  17.781587    12.404181   6.508774  380.126471  6.927023     Home
272  13.719847    20.889782   5.329578  396.187202  7.511705     Home

============================================================
FIRST 10 ROWS OF DATASET
============================================================
         flow  temperature   turbidity          tds        ph    category
0  112.435617    33.348220  142.251084  5962.020568  5.985327  Industrial
1  193.100003    29.442156  198.508078  3650.470708  5.452227  Industrial
2  162.479152    27.397307   71.012602  3488.072343  6.924786  Industrial
3  143.812188    31.752303  127.749448  5105.651843  6.605297  Industrial
4   81.842610    43.858194  181.605961  3363.214161  6.595822  Industrial
5   81.839233    31.464059  161.115293  5723.029302  5.671733  Industrial
6   68.131706    35.375812  154.552361  5433.651007  5.537049  Industrial
7  181.264660    39.060379  155.372613  3715.976110  5.183518  Industrial
8  144.156102    32.272592  103.923673  5003.484271  4.640939  Industrial
9  159.130161    44.435642   94.038777  5018.171496  6.661806  Industrial